<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remote App</title>
</script>
  </head>

  <body>
    <% apps.forEach(function(app){ %>
      <a target="__blank" href="/startSession/<%=app.id%>"><%=app.name%></a>
    <% })%>
  </body>
</html>
